#blocSup {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 120px;
  background-color: #323642;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  list-style-type: none;
}

#blocSup #blocLogoSlogan {
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 15px;
}

#blocSup #blocLogoSlogan #logo {
  height: 70px;
  position: relative;
}

#blocSup #blocLogoSlogan #logo:hover {
  background-color: #f4f5f2;
  border-radius: 50%;
}

#blocSup #blocLogoSlogan #slogan {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #f4f5f2;
  font-size: 1em;
  position: relative;
  left: 10px;
}

#blocSup #blocRecherche #recherche {
  border-radius: 5px 5px 5px 5px;
  width: 250px;
  height: 40px;
  font-size: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  transition: height 200ms ease-in-out;
}

#blocSup #blocRecherche #loupe {
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  position: relative;
}

#blocSup #blocRecherche #loupe:hover {
  background-color: #f4f5f2;
}

#blocSup #blocGlyphs {
  justify-content: flex-end;
  position: relative;
  right: 10px;
}

#blocSup #blocGlyphs img {
  margin-right: 10px;
}

#blocSup #blocGlyphs #panier {
  height: 50px;
}

#blocSup #blocGlyphs #panier:hover {
  background-color: #f4f5f2;
  border-radius: 50%;
}

#blocSup #blocGlyphs #connexion {
  height: 50px;
}

#blocSup #blocGlyphs #connexion:hover {
  background-color: #f4f5f2;
  border-radius: 50%;
}

#blocSup #blocGlyphs #aide {
  height: 50px;
  border-radius: 50%;
}

#blocSup #blocGlyphs #aide:hover {
  background-color: #f4f5f2;
  border-radius: 50%;
}

#blocInf {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #323642;
  height: 60px;
  margin: 0px;
  padding: 0px;
}

#blocInf li {
  list-style-type: none;
  width: 25%;
  text-align: center;
  align-items: baseline;
}

#blocInf li a {
  display: block;
  text-decoration: none;
  position: relative;
  margin: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: #f4f5f2;
  align-items: baseline;
  line-height: 60px;
  transition: background-color 500ms ease-in-out;
}

#blocInf #dropdown {
  position: relative;
}

#blocInf #dropdown #dropdown-content {
  background-color: #fff;
  display: none;
  z-index: 1;
}

#blocInf a:hover {
  background-color: #091324;
  color: #8c8b8f;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#blocInf #dropdown:hover #dropdown-content {
  display: block;
  width: 200%;
}

@media (max-width: 775px) {
  #blocInf {
    display: block;
    height: 240px;
  }
  #blocInf li {
    list-style-type: none;
    width: 100%;
    text-align: left;
  }
  #blocInf li a {
    padding-left: 10px;
  }
  #blocSup {
    height: 150px;
    display: block;
  }
  #blocSup #blocRecherche {
    flex-flow: nowrap;
    position: relative;
    top: 20px;
    text-align: center;
    height: 60px;
  }
  #blocSup #blocLogoSlogan {
    height: 60px;
    text-align: left;
    position: relative;
    top: 15px;
  }
}

@media (max-width: 775px) and (max-width: 480px) {
  #blocSup #blocLogoSlogan #slogan {
    visibility: hidden;
  }
}

@media (max-width: 775px) {
  #blocSup #blocGlyphs {
    height: 60px;
    text-align: right;
    position: absolute;
    top: 25px;
  }
}
