<nav>
  <ul id="blocSup">
    <li id="blocLogoSlogan">
      <img src="assets/img/kartina_logo.png" id="logo">
      <span id="slogan">Kartina, les prix ça va !</span>
    </li>
    <li id="blocRecherche">
      
      <div class="input-group pt-3">
        <input type="text" class="form-control rounded-0" placeholder="Rechercher">
        <span class="input-group-btn">
           <button class="btn btn-secondary rounded-0" type="button">Go</button>
        </span>
     </div>
    
    </li>
    
    <li id="blocGlyphs">
      <a href="#">
        <img src="assets/img/panier.png" alt="panier" id="panier">
      </a>
      <a routerLink="aide">
        <img src="assets/img/aide.png" alt="aide" id="aide">
      </a>
      <a routerLink="log">
        <img src="assets/img/log.png" alt="connexion" id="connexion">
      </a>
    </li>
  </ul>
</nav>
<nav>
  <ul id="blocInf">
    <li id="dropdown">
      <a id="dropdownlink" href="#">PHOTOGRAPHIES</a>
      <div id="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
    <li>
      <a href="#">NOUVEAUTÉS</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="artistes">ARTISTES</a>
    </li>
    <li>
      <a href="#">DERNIERS EXEMPLAIRES</a>
    </li>
  </ul>
</nav>
