@import '../../assets/variablesScss.scss';


#blocSup {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: $hauteurBandeau*2;
  background-color: $menuColor;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  list-style-type: none;
  #blocLogoSlogan {
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 15px;
    #logo {
      height: 70px;
      position: relative;
    }
    #logo:hover {
      background-color: $textColor;
      border-radius: 50%;
    }
    #slogan {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: $textColor;
      font-size: 1em;
      position: relative;
      left: 10px;
    }
  }
  #blocRecherche {
    // justify-content: center; 
    // align-items: center;
    #recherche {
      border-radius: 5px 5px 5px 5px;
      width: 250px;
      height: 40px;
      font-size: 1em;
      font-family: $textFamily;
      transition: height 200ms ease-in-out;
    }
    #loupe {
      height: 40px;
      border-radius: 10px 10px 10px 10px;
      position: relative;
    }
    #loupe:hover {
      background-color: $textColor;
    }
  }
  #blocGlyphs {
    justify-content: flex-end;
    img {
      margin-right: 10px;
    }
    position: relative;
    right: 10px;
    #panier {
      height: $hauteurImgBandeau;
    }
    #panier:hover {
      background-color: $textColor;
      border-radius: 50%;
    }
    #connexion {
      height: $hauteurImgBandeau;
    }
    #connexion:hover {
      background-color: $textColor;
      border-radius: 50%;
    }
    #aide {
      height: $hauteurImgBandeau; //transition: 200ms all ease-in-out;
      border-radius: 50%;
    }
    #aide:hover {
      //transform: rotate(360deg);
      background-color: $textColor;
      border-radius: 50%;
    }
  }
}

#blocInf {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: $menuColor;
  height: $hauteurBandeau;
  margin: 0px;
  padding: 0px;
  li {
    list-style-type: none;
    width: 25%;
    text-align: center;
    align-items: baseline;
    a {
      display: block;
      text-decoration: none;
      position: relative;
      margin: auto;
      font-family: $textFamily;
      font-weight: bold;
      color: $textColor;
      align-items: baseline;
      line-height: $hauteurBandeau;
      transition: background-color 500ms ease-in-out;
    }
  }
  #dropdown {
    position: relative;
    #dropdown-content {
     
      background-color: #fff;
      display: none; //visibility: hidden;
      //position: absolute;
      z-index: 1;
    }
  }
  a:hover {
    background-color: $ongletColor;
    color: $ongletHoverColor;
    font-family: $textFamily;
  }
  #dropdown:hover #dropdown-content {
    display: block; //visibility: visible;
    //z-index: 2;
    width: 200%;
  }
}

@media(max-width:775px) {
  #blocInf {
    display: block;
    height: $hauteurBandeau*4;
    li {
      list-style-type: none;
      width: 100%;
      text-align: left;
      a {
        padding-left: 10px;
      }
    }
  }
  #blocSup {
    height: $hauteurBandeau*2.5;
    display: block;
    #blocRecherche {
      flex-flow: nowrap;
      position: relative;
      top: 20px;
      text-align: center;
      height: $hauteurBandeau;
    }
    #blocLogoSlogan {
      height: $hauteurBandeau;
      text-align: left;
      position: relative;
      top: 15px;
      #slogan {
        //bottom: 30px;
      }
      @media(max-width: 480px) {
        #slogan {
          visibility: hidden;
        }
      }
    }
    #blocGlyphs {
      height: $hauteurBandeau;
      text-align: right;
      position: absolute;
      top: 25px;
    }
  }
}
