<footer class="page-footer font-small">
  <div></div>
  <div>
    <nav id="blocCentralFooter">
      <li><a href="#">Mentions légales</a></li>
      <li><a href="#">Conditions générales d'utilisation</a></li>
      <li><a href="#"></a></li>
    </nav>
  </div>
  <div></div>
</footer>
