@import '../../assets/variablesScss.scss';


footer {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: $hauteurBandeau*2;
  background-color: $menuColor;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  margin-top: 30px;
  list-style-type: none;
  position: relative;
  bottom: 0px;
  #blocCentralFooter {
    display: flex;
  }
}

