footer {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 120px;
  background-color: #323642;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  margin-top: 30px;
  list-style-type: none;
  position: relative;
  bottom: 0px;
}

footer #blocCentralFooter {
  display: flex;
}
