.lft {
  background-color: deepskyblue;
  position: relative;
  width: 70%;
  height: 100%;
}

.tplft {
  background-color: lightblue;
  position: relative;
  height: 50%;
  bottom: 100%;
  width: 30%;
  left: 70%;
}

.btmlft {
  background-color: dodgerblue;
  position: relative;
  height: 50%;
  width: 30%;
  bottom: 100%;
  left: 70%;
}

.imglft {
  position: relative;
  height: 100%;
  width: 100%;
}

.imgtplft {
  position: relative;
  height: 100%;
  width: 100%;
}

.imgbtmlft {
  position: relative;
  height: 100%;
  width: 100%;
}
