<div class="lft">
  <img class="imglft" src="../../../assets/img/1.jpg">
</div>
<div class="tplft">
  <img class="imgtplft" src="../../../assets/img/2.jpg">
</div>
<div class="btmlft">
  <img class="imgbtmlft" src="{{url}}">
</div>
