<div class="container">
  <h3>Contact :</h3>
  <hr>
  <div class="">
    <form>
      <fieldset>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">M.</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Mme</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Mlle</label>
          </div>
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="nom" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="nom">
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="prenom" class="form-control" id="prenom" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="nom">Email</label>
          <input type="nom" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="nom">
        </div>
        <div class="form-group">
          <label for="nom">Téléphone</label>
          <input type="nom" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="nom">
        </div>
        <div class="form-group">
            <label for="inputState">Sujet</label>
            <select id="inputState" class="form-control">
              <option selected>Aide pour commander</option>
              <option>Après-vente, échange et retour</option>
              <option>Problème technique</option>
              <option>Autres sujets</option>
            </select>
          </div>
          
          <div class="input-group">
            <label for="texteUtilisateur"></label>
              <textarea class="form-control" aria-label="With textarea" id="texteUtilisateur" placeholder="Entrez votre message ici ..."></textarea>
          </div>

      </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
