<app-ariane></app-ariane>
<div class="container">
  <h3>Mon compte login</h3>
  <hr>
  <div class="row">
    <div class="col">
  <form>
    <h4>Déja client ?</h4>
    <div class="form-group">
      <label for="exampleInputEmail1">Adresse E-mail</label>
      <input type="email" class="form-control rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Mot de passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      
      <a href="#">Mot de passe oublié</a>
    </div>
    <button type="submit" class="btn btn-primary">Connexion</button>
  </form>
</div>
<div class="col">
<h4>Pas encore de compte ?</h4>

<button type="submit" class="btn btn-danger" routerLink="/register">Inscription</button>

</div>

  </div>
</div>