$ongletHoverColor: RGB(13, 13, 13);
$menuColor:#A6A6A6; // #323642;
$ongletColor:#404040;// #091324;
$couleur: #737373;
$hauteurBandeau: 60px;
$hauteurImgBandeau :50px;
$hauteurMenu: 40px;
$border: 1px solid black;
$textColor: #F2F2F2;// #f4f5f2;
$sloganFamily: 'Trebuchet MS',
'Lucida Sans Unicode',
'Lucida Grande',
'Lucida Sans',
Arial,
sans-serif;
$textFamily:'Trebuchet MS',
'Lucida Sans Unicode',
'Lucida Grande',
'Lucida Sans',
Arial,
sans-serif;