<app-ariane></app-ariane>


<div id="artiste">

  <h3>Artistes galerie d'art</h3>
  <div id="conteneurArtiste">
    <div>
      <h5>Nous développons des partenariats réels avec nos artistes photographes</h5>
    </div>
    <div>
      <h5>Nous travaillons avec de grands noms de la photographie du monde entier</h5>
    </div>
    <div>
      <h5>Nous nous attachons à découvrir et promouvoir de nouveaux talents</h5>
    </div>
  </div>
</div>
<h4 id="title2">Tous les artistes</h4>
<ul id="alphabetListe">
  <li>0-2</li>
  <li>A</li>
  <li>B</li>
  <li>C</li>
  <li>D</li>
  <li>E</li>
  <li>F</li>
  <li>G</li>
  <li>H</li>
  <li>G</li>
  <li>I</li>
  <li>J</li>
  <li>K</li>
  <li>L</li>
  <li>M</li>
  <li>N</li>
  <li>O</li>
  <li>P</li>
  <li>Q</li>
  <li>R</li>
  <li>S</li>
  <li>T</li>
  <li>U</li>
  <li>V</li>
  <li>W</li>
  <li>X</li>
  <li>Y</li>
  <li>Z</li>
</ul>

<div id="artistesAlpha">
  <app-artiste-alpha></app-artiste-alpha>
  <app-artiste-alpha></app-artiste-alpha>
  <app-artiste-alpha></app-artiste-alpha>
  <app-artiste-alpha></app-artiste-alpha>
  <app-artiste-alpha></app-artiste-alpha>
  <app-artiste-alpha></app-artiste-alpha>
  <app-artiste-alpha></app-artiste-alpha>
  <app-artiste-alpha></app-artiste-alpha>
  <app-artiste-alpha></app-artiste-alpha>
  <app-artiste-alpha></app-artiste-alpha>
  <app-artiste-alpha></app-artiste-alpha>
  <app-artiste-alpha></app-artiste-alpha>
</div>