@import '../../assets/variablesScss.scss';



#artiste {
  height: 333px;
  width: 100%;
  background-image: url("/assets/img/artiste.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  h3 {
    text-align: center;
    color:black;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #conteneurArtiste {
    h5 {
      color: black;
      margin: 0px;
      padding-right: 80px;
      padding-left: 80px;
      padding-top: 30px;
      font-weight: bold;
    }
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}

@media(max-width: 815px) {
  #artiste {
    background-image: none;
    background-color: $menuColor;
    height: 91px;
  }
  h5 {
    display: none;
  }
  
}

#title1 {
  text-align: center;
  color: black;
  background-color: $textColor;
  margin: 0px;
  height: 50px;
  line-height: 50px;
  font-size: 1.5em;
}

#title2 {
  text-align: center;
  color: black;
  margin: 0px;
  height: 50px;
  line-height: 50px;
  font-size: 1.5em;
}

#artistesMisEnAvant {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  height: 900px;
  background-color: $textColor;
  width: 100%;
  padding-top: 30px;
  /*
      :nth-child(1) {
        height: 70%;
        width: calc(40%);
        background-color: aquamarine;
      }
      :nth-child(2) {
        height: 70%;
        width: calc(60%);
        background-color: aqua;
      }
      :nth-child(3) {
        height: 30%;
        width: 20%;
        background-color: azure;
      }
      :nth-child(4) {
        height: 30%;
        width: 20%;
        background-color: bisque;
      }
      :nth-child(5) {
        height: 30%;
        width: 20%;
        background-color: beige;
      }
      :nth-child(6) {
        height: 30%;
        width: 20%;
        background-color: blanchedalmond;
      }
      :nth-child(7) {
        height: 30%;
        width: 20%;
        background-color: pink;
      }
      */
}

@media(max-width: 720px) {
  #artistesMisEnAvant {
    height: 1900px;
  }
}

#alphabetListe {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  max-width: 80%;
  margin: auto;
  li {
    list-style-type: none;
  }
}

#artistesAlpha {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  width: 80%;
  margin: auto;
  app-artiste-alpha {  
    width: 563px;
    height: 387px;
    background-color: aquamarine; //border: 1px solid;
    margin-top: 25px;
  }
}
