@import 'assets/variablesScss.scss';

body {
    margin: Opx;
    padding: Opx;
    width: 100%;
    background-color: $ongletHoverColor;
    height: 100%;
  
  }


html, app-root{
  height: 100%;
}

