 @import '../../assets/variablesScss.scss';

#filDariane {
    background-color: $ongletColor;
    margin: auto;
    height: 50px;
    color: $textColor;
    line-height: 50px;
    padding-left: 15px;
  }