<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-2">
      <h4>Account Settings</h4>
      <a>Create an acount</a>
    </div>
    <div class="col-xs-6-8 col-md-8">
      <form>
        <fieldset>
          <legend>Renseignements personnels :</legend>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="nom" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="nom">
          </div>
          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="prenom" class="form-control" id="prenom" placeholder="Password">
          </div>
        </fieldset>
        <fieldset>
          <legend>Email / Informations de connexion</legend>
          <div class="form-group">
            <label for="nom">Email</label>
            <input type="nom" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="nom">
          </div>
          <div class="form-group">
            <label for="prenom">Confirmer l'email</label>
            <input type="prenom" class="form-control" id="prenom" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="nom">Mot de passe</label>
            <input type="nom" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="nom">
          </div>
          <div class="form-group">
            <label for="prenom">Confirmer le mot de passe</label>
            <input type="prenom" class="form-control" id="prenom" placeholder="Password">
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
